<h1><%= @name %></h1>

<table id="info-table">
  <tr>
    <th rowspan="2">
      <img src=<%= @main_photo %>>
    </th>
    <th>
      sex
    </th>
      <th>
        age
      </th>
        <th>
          size
        </th>
  </tr>


  <tr>

    <td>
      <p><%= @sex %></p>

    </td>
  <td>
    <p><%= @age %></p>

  </td>
<td>
  <p><%= @size %></p>
</td>
  </tr>
</table>

<div>
  <p>description: <%= @description %></p>
</div>
