<h1><%= @name %></h1>

<table id="info-table">
  <tr>
    <th rowspan="2"><img src=<%= @main_photo %>></th>
    <th>sex</th>
    <th>age</th>
    <th>size</th>
    <th>breed</th>
  </tr>
  <tr>
    <td><%= @sex %></td>
    <td><%= @age %></td>
    <td><%= @size %></td>
    <td><%= @breed %></td>
  </tr>
</table>


<div>
  <p>description: <%= @description %></p>
</div>
